<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>assignment 9</title>
</head>

<body>
{% include ('add.html') %}
{% include ('menu.html') %}


  <h2> Search Form:</h2><br>
    <form action ="/Assignment9" method="GET" >
    <label for="name">Search by first name:</label>
    <input  name="firstname" type="text"><br><br>
    <input type="submit" value="Search">
    </form>

    {% if firstname %}
        {% for user in users %}
            {% if user['firstname'] == firstname %}
                <h3> Full name: {{ user['firstname'] }},{{ user['lastname'] }} , email: {{ user['email'] }}<br>
                </h3>
                <br>
            {% endif %}
        {% endfor %}
        <br>
    {% else %}
        {% if name == ''%}
          <br>  The Users List is: <br>
             {% for user in users %}
            <h3> Full name: {{ user['firstname'] }},{{ user['lastname'] }} , email: {{ user['email'] }}<br>
            </h3>
            <br>
             {% endfor %}
         {% endif %}
    {% endif %}
    <br>

    {% if session.username %}
    <a href="/log_out"> log out </a>
    {% else %}
   <h1> log in please : Registration Form:</h1>

    <form method="POST" action ="/Assignment9">
    <label for="username">Username:</label>
    <input id='username' name="username"><br><br>
     <label for="Password">Password:</label>
    <input id='Password' name="Password"><br><br>
    <input type="submit" value="Log in">
    </form>

    {% endif %}

{% if username %}
        <h2>Welcome User,{{session.username}} ! </h2>
{% endif %}
<br><br><br><br>

</body>

</html>