<!DOCTYPE html>
<html lang="=en">
<head>
    <script src="cv.js"> </script>
    <link rel="stylesheet" href="cv.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatibale" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Class 4 WEB </title>
</head>
<body>
{% include ('add.html') %}
{% include ('menu.html') %}
    <div id="GridContainer">
        <div id="item1">This is a header
            <div>
                <button id="Button" onclick="thankyou()"> Click Here </button>
            </div>
        </div>
        <div id="item2">Left
        <form action="">
            <label for="Email">Email</label>
            <input type="email" onload="checkValidity()"><br>
            <label for="Adress">Adress</label>
            <input type="text"><br>
            <label for="comments"> Your comment</label><br>
            <textarea name="" id="" cols="30" rows="10"></textarea><br>
            <input type="submit">
        </div>
        <div id="item3">Main
        <p>Click on the the CV logo to see and download my CV <p>
            <a href="Roy_CV.pdf" download>
                <img src="cvpic.png" alt="cv icon" width="100" height="100">
              </a>
        </div>
    </div>

</body>
</html>